$white: #e2e8f0;
$colorText: #94a3b8;
$colorText2: #64748b;
$green: #5eead4;
$greenBG: rgba(45,212,191,.1);
$bg: rgb(15 23 42 / 1);
$mainAnimStyle: .2s linear;
$mainAnimStyleEase: .2s ease;

$menuWidth: 32em;
$standardIndentation: 1.6em;
$sectionIndentation: 4.8em;
$littleIndentation: .8em;

$medium: 500;
$bold: 700;
$semibold: 600;